* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 218, 177);
}

header {
    background-image: url(../imagens/bg-header2.jpeg);
    background-size: cover;
    height: 350px;
    /*border: 1px solid black;*/
    padding: 10px;
}

main {
    width: 90%;
    margin: 15px auto;    
}

article {
    border: 1px solid black;
    padding: 10px;
}

footer {
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
