
/*FORMATAÇÕES GERAIS*/
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7d6a5;
}

a:link, a:active, a:visited {
    color: #4f220b;
    text-decoration: none;

}

a:hover {
    color: #f7d6a5;
}

/*ÁREA DE CABEÇALHO*/
header {
    background: url(../imagens/bg-area-menu-mod.jpeg);
    background-size: cover;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end; /*alinhas menu e logo na parte de baixo do header*/
}

header #area-logo {
    width: 30%;
    /*padding: 10px 5px;*/
    text-align: center;
    color: #4f220b;
    
}

header #area-logo img {
    width: 75%;
    height: 75%;
    margin-top: 10px;
}

header #area-menu {
    width: 100%;
    font-size: 18px;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    float: left;
    background-color: #febc5b;
    border-right: 1px solid #f7d6a5;
    width: 140px;
    height: 35px;
    text-align: center;
}

nav ul li#ultima {
    border-right: none;
}

nav ul li a:link {
    display: block;
    line-height: 1.9em;   
}
/*
nav ul li:hover {
    background-color: #f7d6a5;
    color: #4f220b;
}
*/







/*ÁREA DO CONTEÚDO PRINCIPAL*/
main {
    width: 75%;
    margin: 15px auto;    
}

article {
    background-color: #febc5b;
    
    padding: 10px;
}





/*ÁREA DO RODAPÉ*/
footer {
    background-color: #4f220b;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
}



